<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <a class="layout-topbar-logo" routerLink="/" (click)="closeMenu()">
      <app-logo [size]="36" />

      <h3 class="font-semibold m-0!">SisiQuiz</h3>
    </a>
  </div>

  <div class="flex items-center ml-auto gap-x-2">
    <!-- <p-button icon="pi pi-bars" (onClick)="toggleMenu()" /> -->

    <p-button
      (onClick)="toggleDarkMode()"
      [outlined]="true"
      severity="secondary"
      size="small"
      [icon]="isDark ? 'pi pi-moon' : 'pi pi-sun'"
    />
    <p-popover #op>
      <div class="flex flex-col w-[12rem]">
        <a
          pRipple
          routerLink="/"
          class="flex items-center p-3 hover:bg-emphasis cursor-pointer"
          (click)="close()"
        >
          <span class="pi pi-home"></span>
          <span class="ml-3">Home</span>
        </a>
        <div class="border-b border-slate-500 my-2"></div>

        <a
          pRipple
          class="flex items-center p-3 hover:bg-emphasis cursor-pointer"
          routerLink="profile"
          (click)="close()"
        >
          <span class="pi pi-user-edit"></span>
          <span class="ml-3">Profile</span>
          @if (!isAuthenticated()) {
          <span class="ml-auto text-muted-color">
            <i class="pi pi-lock"></i>
          </span>
          }
        </a>

        <!-- NAVIGATION -->
        @for (item of items; track $index) {
        <a
          pRipple
          class="flex items-center p-3 hover:bg-emphasis cursor-pointer"
          [routerLink]="item.link"
          (click)="close()"
        >
          <span [class]="item.icon"></span>
          <span class="ml-3">{{ item.label }}</span>
          @if (!isAuthenticatedWithProfile()) {
          <span class="ml-auto text-muted-color">
            <i class="pi pi-lock"></i>
          </span>
          }
        </a>
        }

        <!-- ACTIONS -->
        @if (authService.authUser()) {
        <div class="border-t border-slate-500 my-2"></div>
        <a
          pRipple
          class="flex items-center text-red-400 p-3 cursor-pointer"
          (click)="signOut()"
          (click)="close()"
        >
          <span class="pi pi-sign-out"></span>
          <span class="ml-3">Sign Out</span>
        </a>
        }@else {
        <div class="border-t border-slate-500 my-2"></div>
        <a
          pRipple
          routerLink="login"
          class="flex items-center text-green-400 p-3 cursor-pointer"
          (click)="close()"
        >
          <span class="pi pi-sign-in"></span>
          <span class="ml-2">Sign In</span>
        </a>
        }
      </div>
    </p-popover>

    <p-button [outlined]="true" severity="contrast" icon="pi pi-bars" (onClick)="toggleMenu()" />
    <!-- <p-button (onClick)="toggle($event)" [outlined]="true" severity="contrast" icon="pi pi-bars" /> -->
  </div>
</div>

<div
  #menuOverlay
  class="fixed top-0 left-0 w-full h-full bg-[var(--surface-card)] flex items-center justify-center z-50 overflow-hidden"
  style="height: 100%; transform: scaleY(0); transform-origin: top; visibility: hidden"
>
  <div class="w-1/2 h-full hidden lg:flex items-center justify-center relative">
    @if (currentPreview()) {
    <img
      #previewImage
      class="absolute max-w-xs opacity-0 pointer-events-none transition-opacity duration-300"
      [src]="currentPreview()"
    />
    }
  </div>

  <div
    class="w-full lg:w-1/2 flex flex-col h-full items-center justify-between lg:border-l border-indigo-600"
  >
    <div></div>
    <nav
      (mouseleave)="hidePreview()"
      #menuLinks
      class="nav-items flex flex-col gap-4 text-5xl font-black uppercase"
    >
      <a
        routerLink="/"
        routerLinkActive="text-indigo-400"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-indigo-400"
        (click)="closeMenu()"
        (mouseenter)="showPreview('assets/logo/mindmap.svg')"
        >Home</a
      >
      <a
        routerLink="profile"
        routerLinkActive="text-indigo-400"
        class="hover:text-indigo-400"
        (click)="closeMenu()"
        (mouseenter)="showPreview('assets/logo/account.svg')"
        >Profile</a
      >
      <a
        routerLink="test-list"
        routerLinkActive="text-indigo-400"
        class="hover:text-indigo-400"
        (click)="closeMenu()"
        (mouseenter)="showPreview('assets/logo/online.svg')"
        >Tests</a
      >
      <a
        routerLink="results"
        routerLinkActive="text-indigo-400"
        class="hover:text-indigo-400"
        (click)="closeMenu()"
        (mouseenter)="showPreview('assets/logo/analysis.svg')"
        >Results</a
      >
      <a
        routerLink="statistics/iq"
        routerLinkActive="text-indigo-400"
        class="hover:text-indigo-400"
        (click)="closeMenu()"
        (mouseenter)="showPreview('assets/logo/statistics.svg')"
        >Statistics</a
      >
    </nav>

    <div class="flex justify-end border-t border-indigo-600 p-4 w-[90%]">
      <span class="text-red-400 hover:text-red-500 cursor-pointer">SIGN OUT</span>
    </div>
  </div>
</div>
