<div class="section">
  <div class="grid md:grid-cols-3 grid-cols-1 gap-x-8">
    <div class="fancy">
      <div><i class="pi pi-stopwatch text-5xl text-purple-500"></i></div>
      <h4>Fun & Engaging</h4>
      <p class="text-muted-color-emphasis">
        Explore a variety of quizzes designed to challenge, entertain, and inspire.
      </p>
    </div>

    <div class="fancy">
      <div><i class="pi pi-chart-bar text-5xl text-teal-500"></i></div>
      <h4>Track Your Progress</h4>
      <p class="text-muted-color-emphasis">Track your scores and share results with friends.</p>
    </div>

    <div class="fancy mb-8!">
      <div><i class="pi pi-objects-column text-5xl text-blue-500"></i></div>
      <h4>Personalized Results</h4>
      <p class="text-muted-color-emphasis">
        Discover fun facts and insights about your personality and skills.
      </p>
    </div>
  </div>

  @if (!canTakeTest() && init()) {
  <div class="fancy">
    <p-message severity="warn" variant="outlined">
      <span>Test can be taken again in - </span>
      <span class="font-semibold">{{ countdown() }}</span>
    </p-message>
  </div>
  }

  <div class="fancy flex flex-col md:flex-row gap-5">
    <div class="rounded-sm flex justify-center items-center text-white p-4 md:w-[250px] f-full">
      <img src="assets/logo/women.svg" />
    </div>

    <div class="flex flex-col w-full">
      @for (test of availableTests(); track $index; let last = $last; let first = $first) {
      <div
        class="flex justify-between border-b border-[var(--surface-border)] px-4 py-2 items-center hover:bg-[var(--surface-hover)]"
        [class]="first ? 'border-t' : ''"
      >
        <p-avatar [image]="test.icon" size="large" />

        <div class="ml-4 mr-auto">
          <h6 class="font-semibold text-lg mb-0!" [class]="last ? 'text-muted-color-emphasis' : ''">
            {{ test.name }}
          </h6>
          <p class="text-muted-color text-sm">
            {{ test.description }}
          </p>
        </div>

        <p-button
          label="Start now"
          variant="outlined"
          icon="pi pi-arrow-right"
          iconPos="right"
          size="small"
          (onClick)="navigateToIqTest()"
        />
      </div>
      }
    </div>
  </div>
</div>
