<div class="section">
  <div class="sm:grid md:grid-cols-3 sm:grid-cols-1 gap-x-8 hidden">
    <div class="fancy">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-10 h-10 text-purple-500"
        >
          <rect width="18" height="18" x="3" y="3" rx="2" ry="2" />
          <path d="M16 8h.01" />
          <path d="M8 8h.01" />
          <path d="M8 16h.01" />
          <path d="M16 16h.01" />
          <path d="M12 12h.01" />
        </svg>
      </div>
      <h4>Fun & Engaging</h4>
      <p class="text-muted-color-emphasis">
        Explore a variety of quizzes designed to challenge, entertain, and inspire.
      </p>
    </div>

    <div class="fancy">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-10 h-10 text-teal-500"
        >
          <path d="M3 3v16a2 2 0 0 0 2 2h16" />
          <path d="M7 16c.5-2 1.5-7 4-7 2 0 2 3 4 3 2.5 0 4.5-5 5-7" />
        </svg>
      </div>
      <h4>Compare & Improve</h4>
      <p class="text-muted-color-emphasis">
        Share your results, challenge friends, and watch your progress over time.
      </p>
    </div>

    <div class="fancy mb-8!">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-10 h-10 text-blue-500"
        >
          <path
            d="M15.39 4.39a1 1 0 0 0 1.68-.474 2.5 2.5 0 1 1 3.014 3.015 1 1 0 0 0-.474 1.68l1.683 1.682a2.414 2.414 0 0 1 0 3.414L19.61 15.39a1 1 0 0 1-1.68-.474 2.5 2.5 0 1 0-3.014 3.015 1 1 0 0 1 .474 1.68l-1.683 1.682a2.414 2.414 0 0 1-3.414 0L8.61 19.61a1 1 0 0 0-1.68.474 2.5 2.5 0 1 1-3.014-3.015 1 1 0 0 0 .474-1.68l-1.683-1.682a2.414 2.414 0 0 1 0-3.414L4.39 8.61a1 1 0 0 1 1.68.474 2.5 2.5 0 1 0 3.014-3.015 1 1 0 0 1-.474-1.68l1.683-1.682a2.414 2.414 0 0 1 3.414 0z"
          />
        </svg>
      </div>
      <h4>Personalized Results</h4>
      <p class="text-muted-color-emphasis">
        Discover fun facts and insights about your personality and skills.
      </p>
    </div>
  </div>

  <div class="fancy flex flex-col md:flex-row gap-5">
    <div class="flex flex-col justify-center items-center text-white md:w-[250px] w-full">
      <h4>Choose Test</h4>
      <img class="w-[80%]" src="assets/logo/online.svg" alt="Choose test" />
    </div>

    <div class="flex flex-col w-full">
      @for (test of availableTests(); track $index; let last = $last; let first = $first) {
      <div
        class="flex lg:items-center sm:px-4 py-2 border-b border-[var(--surface-border)] hover:bg-[var(--surface-hover)]"
        [class]="first ? 'border-t' : ''"
      >
        <img class="w-14 aspect-square" [src]="test.icon" [alt]="test.name" />

        <div class="w-full flex flex-col md:flex-row ml-5 md:items-center">
          <div class="mb-1 md:mb-0 mr-auto">
            <h6
              class="font-semibold text-lg mb-0!"
              [class]="last ? 'text-muted-color-emphasis' : ''"
            >
              {{ test.name }}
            </h6>
            <p class="text-muted-color text-sm">
              {{ test.description }}
            </p>
          </div>

          @if (countdown() && first) { @let canTake = 'Take again in - ' + countdown();

          <button
            class="w-full md:w-auto"
            pButton
            size="small"
            [outlined]="true"
            [disabled]="true"
            severity="warn"
          >
            <span pButtonLabel>{{ canTake }}</span>
          </button>
          }@else {
          <button
            class="w-full md:w-auto"
            pButton
            size="small"
            [outlined]="false"
            [disabled]="last"
            severity="warn"
            (click)="navigateToTest(test.link)"
          >
            <span pButtonLabel>{{ last ? 'Coming soon' : 'Start now' }}</span>
            @if (!last) {<i class="pi pi-arrow-right" pButtonIcon></i>}
          </button>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
